body {
	color: #369;
	background: #CCC;
}

h1 {
	text-decoration: underline;
}

h1, h2, h3 {
	font-family: 'Verdana', sans-serif;
	text-align: center;
}


p {
	font-family: 'Roboto', sans-serif;
	line-height: 18px;
}


